.course-home {
  display: flex;
  height: 100vh;
  font-size: "Roboto";
}


.video-display {
  width: 75%; 
  padding: 20px;
  background-color: #eef2f7;
  display: flex;
}
.video-container{
  display: flex;
  flex-direction: column;
  margin-right: 1em;
}

.video-description-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.module-list {
  width: 25%;
  background-color: #eef2f7;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.module-list ul {
  padding: 0;
}

.module-list li {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  /* background-color: aliceblue;
  margin-bottom: 4px; */
}

.module-list li .icon {
  margin-right: 10px;
  font-size: 18px;
}

.module-list li.completed .icon {
  color: #28a745; /* Green for completed */
}

.icon {
  margin-right: 10px;
  color: #999;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.video-name-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-name{
  font-size: 14px;
  margin: 0;
}

.status-icon {
  font-size: 1.2em;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.completed {
  color: #6cdf9b;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.incomplete {
  background: none;
  border: 0.5px solid rgb(197, 197, 197);
  border-radius: 50%;
  color: #fff;
}

.mark-complete-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #00a6f6;
  color: white;
  border: none;
  cursor: pointer;
  align-self: flex-end;
}

.mark-complete-btn:hover {
  background-color: #007bb5;
}
