.course-page {
  padding: 1em;
  background-color: #f1f1f1;
  min-height: 100vh;
  width: 100%;
}

/* banner */
.course-banner img {
  width: 100%;
  max-height: 15rem;
  border-radius: 8px;
  object-fit: cover;
}

.course-bottom-container {
  padding: 20px;
}

.course-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 576px) {
  .course-header {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }
}

.course-info {
  flex: 1;
  text-align: left;
}

.course-info h1 {
  color: #1c1d1f;
  font-size: 32px;
  font-weight: bold;
}

.course-info p {
  color: #6a6f73;
  font-size: 16px;
}

.rating {
  margin-top: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 3px;
  text-align: right;
}

@media screen and (max-width: 576px) {
  .course-info p {
    margin: 0;
  }
  .rating {
    text-align: left;
  }
}

.average-rating-number {
  margin-left: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}
@media screen and (min-width: 576px) {
  .content-container {
    display: flex;
    justify-content: space-between;
  }
}

.main-content {
  flex: 3;
  margin-right: 20px;
}

.main-content h2,
.main-content h3 {
  color: #1c1d1f;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.main-content p {
  color: #6a6f73;
  font-size: 16px;
  margin-bottom: 20px;
}

.pricing-sidebar {
  flex: 2;
  background-color: #f7f9fa;
  padding: 20px;
  border-left: 1px solid #ddd;
  height: fit-content;
  border-radius: 8px;
  text-align: center;
}

.discounted-price {
  font-size: 32px;
  font-weight: bold;
}

.enroll-btn {
  background-color: #007791;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.enroll-btn:hover {
  background-color: #00596b;
}
.course-details {
  width: 100%;
  margin: 20px 0px;
}

.course-details p {
  color: #1c1d1f;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.preview-heading {
  font-weight: bold;
  margin-bottom: 20px;
}

.course-preview {
  display: flex;
  gap: 20px;
  width: 100%;
}

.video-preview {
  margin-bottom: 0;
  width: 66%;
}
/* Ensure no extra margin or padding between elements */
.video-preview ReactPlayer,
.video-preview video {
  width: 100%;
  height: auto;
  margin-bottom: 0; /* Ensure no extra margin */
  padding: 0;
}

.module-preview ul,
.module-preview h4 {
  margin-top: 0;
  margin-bottom: 0;
  width: 30vw;
  padding-left: 0px;
}
@media screen and (max-width: 992px) {
  .course-preview {
    flex-direction: column;
  }
  .video-preview {
    width: 100%;
  }
  .module-preview ul,
  .module-preview h4 {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
  }
}

.module-item {
  margin-bottom: 2px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}

.module-item.active .module-header {
  background-color: #e0f7fa;
}

.module-header {
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}

.module-header:hover {
  background-color: #e0f0f7;
}

.module-name {
  align-self: flex-start;
}

.toggle-icon {
  font-size: 20px;
  font-weight: bold;
  color: #00a6f6;
  padding-left: 20px;
}

.video-list {
  list-style: none;
  padding-left: 20px;
  transition: background-color 0.3s ease;
  margin: 0;
}

.video-title {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  font-size: 14px;
  border-top: 1px solid #ddd;
}

.video-title:first-child {
  border-top: none;
}

.video-title svg {
  margin-right: 8px;
  color: #999;
}

.star {
  font-size: 1.1rem; /* Star size */
  margin-right: 3px; /* Space between stars */
}

.filled- {
  color: #f5a623;
  font-size: 1.2rem;
  margin-right: 3px;
}

.register-prompt {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  margin-top: 40px;
  border-radius: 8px;
}

.register-prompt h2 {
  color: #1c1d1f;
}

.register-prompt p {
  color: #6a6f73;
  font-size: 16px;
}

.register-btn {
  background-color: #007791;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-btn:hover {
  background-color: #00596b;
}

.course-summary {
  display: flex;
  align-items: center;
}

.original-price {
  font-size: 18px;
  color: #6a6f73;
  text-decoration: line-through;
  margin-bottom: 5px;
}

.discount-info {
  color: #f4c150;
  font-size: 16px;
  margin-bottom: 10px;
}
