.courseDetails-banner-image img{
    width: 100%;
}
.course-name{
    margin: 0;
    padding: 0;
}

.course-overview{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -4em;
}
.course-overview-buttons {
    margin: 2em 4em;
}
.course-overview-buttons button{
    padding: 0.7em 2.65em;
    background: rgb(188, 206, 209);
    outline: none;
    border: none;
    border-radius: 0.5em;
    margin: 1em;
    transition: 0.5s;
}
.course-overview-buttons button:hover{
    background: rgb(14, 147, 156);
}
.course-feedback h1{
    text-align: center;
    padding-top: 1em;
}
.course-feedback{
    display: flex;
    background: rgba(128, 226, 226, 0.8);
    flex-direction: column ;
    width: 60%;
    border-radius: 1em;
    margin: 5em;
    color: black;
}
.stars{
    color: gold;
    font-size: 1.2em;
}
.icons{
    padding: 0.5em;
}
.course-feedback-upper{
    display: flex;
    justify-content: space-around;
    padding: 2em;
    font-size: 1.2em;
}
.feedback-stars{
    margin: 1em;
}
.feedback-box{
    margin: 1em;
    background: rgb(137, 183, 194);
    border-radius: 0.5em;
    height: max-content;
    padding: 2em;
}
.feedback-progress{
    margin: 1em;
}

.course-feedback-lower{
    padding-bottom: 5em;
}

.userprofile{
    display: flex;
    align-items: center;
    padding: 0.2em;
}
.user-name-stars{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1em;
}
.user-name-stars span{
    font-size: 1.3em;
}
.userprofile img{
    width: 70px;
    border-radius: 50%;
}
.course-details{
    margin: 1em;
    padding: 1em;
    width: 30%;
    margin-top: -23.6em;
}
.course-discount p{
    text-align: center;
    font-weight: 600;
    line-height: 0.8;
}
.course-discount p:nth-child(1){
    font-size: 1.5em;
}
.course-discount p:nth-child(2) {
    color: rgb(77, 75, 75);
}
.discount-offer{
    text-decoration: line-through;
}
.course-details button{
    background:rgba(60, 207, 195, 0.8);
    padding: 0.5em 8.7em;
    outline: none;
    border: none;
    border-radius: 0.4em;
    color: white;
    font-weight: 800;
    transition: 0.3s;
}
.course-details button:hover{
    background: rgba(34, 129, 125, 0.8);
}
.course-includes-header h4{
    font-weight: 600;
}
.course-includes{
    padding: 0.3em;
    color: rgb(83, 82, 82);
}
.training-people-header h4{
    font-weight: 600;
}
.share-icons{
    cursor: pointer;
    padding: 0.5em;
}
.share-course h4{
    font-weight: 600;
}
.marketing-articles{
    background:rgba(127, 214, 203, 0.8);
}

.marketing-articles p:nth-child(1){
    text-align: center;
    font-weight: 500;
    font-size: 2.5em;
}

.physical-classroom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2em;
}

.physical-classroom-text{
    width: 50%;
    margin: 2em;
    font-size: 1.7em;
}
.physical-classroom-text p:nth-child(2){
    font-size: 0.7em;
}
.physical-classroom-text p:nth-child(3){
    color: rgb(91, 189, 189);
    font-size: 0.8em;
    cursor: pointer;
}
.physical-classroom-text p:nth-child(3):hover{
    text-decoration: underline;
}
.physical-classroom-text span{
    color: rgb(69, 185, 185);
}
.physical-classroom-image{
    width: 45%;
}
.physical-classroom-image img{
    width: 80%;
    border-radius: 1em;
}
.ellipse{
    background: rgb(93, 207, 137);
    padding: 1em;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    margin: -0.3em;
}

.education{
    margin:0em 4em;
}
.top-education{
    margin: 1em;
    display: flex;
}

.top-education-card{
    background: transparent;
    width: 25em;
    font-size: 1em;
    height: max-content;
    background-image: url("https://kimberlineducation.com/wp-content/uploads/2023/01/teacher-sitting-in-classroom-EDLH44H-min-1024x683.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    font-weight: bold;
    margin: 1em;
}
.top-education-card p{
    width: 70%;
    padding: 0.6em;
    font-weight: 400;
    color: rgb(43, 3, 3);
}
.top-education-card p:nth-child(1){
    font-weight: 600;
    font-size: 1.4em;
    color: white;
    padding: 0.5em;
}
.top-education-card-offer-box{
    background: rgb(168, 6, 6);
    width: 5em;
    border-radius: 0.5em;
    color: white;
    height: 3em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center ;
    padding: 1.8em;
    margin: 0.8em;
}