
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  } */
  
  .container {
    margin: 40px;
    background-color: white;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;  
    align-items: center;
    justify-content: space-around;
  }
  
  #title{
    color: rgb(85, 84, 84);
    margin: 20px 0px;
  }

  .img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    
  }

  .dataDiv{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .buttonsDiv { 
    width: 60%;
    display: flex;
    margin-bottom: 1em;
    border-radius: 25px;
    overflow: hidden;
    background-color: #45d4cd;
  }
  
  .button {
    border: none;
    margin: 8px 12px;
    background: none;
    border-radius: 25px;
    color: #333;
    font-weight: bold;
    font-size: 1em;
    width: 48%;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .button:hover {
    background-color: #e0e0e0;
  }
  
  .highlighted {
    background-color: #1ebcc2;
    color: white;
  } /* Container for the input fields */
  
 .subHeading{
    text-align: center;
    font-weight: lighter;
 }

  .inputsDiv {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 85%;
  }
  
  .input {
    width: 100%;
    padding: 0.85em 1.5em;
    border: 1px solid #829dc5;
    border-radius: 25px;
    font-size: 1em;
    transition: border-color 0.3s ease;
    margin: 5px 0px;
  }
  
  .input:focus {
    border-color: #16487e;
    outline: none;
  }

  .inputTitle{
    margin: 5px;
    /* font-weight: 500; */
    color: rgb(78, 78, 78) ;
  }


.password-toggle {
    display: flex;
    align-items: center;
  }
  
  .password-input {
    width: 100%;
    padding: 0.85em 1.5em;
    border: 1px solid #829dc5;
    border-radius: 25px;
    font-size: 1em;
    transition: border-color 0.3s ease;
    margin: 5px 0px;
  }
  
  .password-toggle-button {
    margin-left: -42px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
  }
  
  .password-toggle-button .svg-inline--fa {
    font-size: 1.2em;
    color: #39393a;
  }
  
  .password-toggle-button:hover .svg-inline--fa {
    color: #3e3e3f;
  }
  

  .bottomDiv{
    display: flex;
    margin: 15px 0px;
    justify-content: space-between ;
  }
  
  #checkbox{
    margin: 0px 5px;
  }

  .LoginSignupButton{
    display: flex;
    justify-content: end;
  }

  .button2{
    border: none;
    margin-top: 20px;
    background: #099196;
    border-radius: 25px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1em;
    padding: 0.75em 5em;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    transition: transform 0.3s ease;
  }

  .button2:hover{
    transform: scale(1.1);
  }
