.coursesBgContainer {
  flex: 1;
  background-color: #f5f5f5;
  padding-bottom: 2em;
}

.coursesMiddleContainer {
  margin: 2em 3em;
}

@media screen and (max-width: 992px) {
  .coursesMiddleContainer {
    margin: 1em 1em;
  }
}

.coursesBannerContainer {
  background-image: url("https://i.ibb.co/zFshV0W/Courses-Banner.png");
  width: 100%;
  height: 12em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.coursesBannerSearchContainer {
  width: 50vw;
  height: 3em;
  padding: 0.5em 0.5em;
  display: flex;
  background-color: #fff;
  border-radius: 0.5rem;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .coursesBannerSearchContainer {
    width: 80vw;
  }
}

.courseBannerSearch {
  width: 80%;
  padding: 0.2em;
  outline: none;
  border: none;
  font-size: 1em;
}

/* .courseBannerSearchButton {
  min-width: 12%;
  background-color: #185fbd;
  color: #fff;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  padding: 0em 0.75em;
  --webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.courseBannerSearchButton:hover {
  background-color: #0074b8;
} */

.courseBannerSearchButton {
  min-width: 20%;
  background-color: #185fbd;
  color: #fff;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  padding: 0em 0.75em;
}

.coursesContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  /* padding: 2em 2em; */
}
.coursesContainer > * {
  display: flex;
}

.courseCardLinkContainer {
  text-decoration: none;
}

.courseCard {
  padding: 0.75em;
  padding-bottom: 1em;
  border-radius: 0.5em;
  background-color: #fff;
  margin: 1em 0;
  margin-right: 3em;
  display: flex;
  flex-direction: column;
  color: #000;
  width: 18em;
  height: 25em;
  align-items: start;
  box-shadow: rgba(0, 48, 110, 0.2) 0px 1px 8px 3px;
  transition: translate 300ms;
  flex-grow: 1;
  flex-shrink: 1;
}

@media screen and (max-width: 768px) {
  .coursesContainer {
    gap: 1em;
  }
  .courseCard {
    margin: 0em;
    display: flex;
    width: 40vw;
  }
}
@media screen and (max-width: 576px) {
  .coursesContainer {
    gap: 1em;
    padding: 1em;
  }
  .courseCard {
    margin: 0em;
    display: flex;
    width: 90vw;
  }
}

.courseCard:hover {
  translate: 0px -0.5em;
}

.courseCardImageUrl {
  width: 100%;
  border-radius: 0.6em;
  height: 30%;
  object-fit: cover;
}

.coursesRatingDurationContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.courseCardRatingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.courseCardStars {
  color: #f39c12;
  display: flex;
}

.courseCardRatingText {
  margin-left: 0.5em;
  font-size: 0.8em;
  color: #333;
  margin-bottom: 0em;
}

.coursesDurationContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.courseDurationText {
  font-size: 0.8em;
  margin-bottom: 0em;
}

.courseName {
  font-size: 1em;
  margin-top: 0.2em;
  font-weight: 600;
}

.courseDescription {
  font-size: 0.8em;
  font-weight: 400;
  flex-grow: 1;
}

.courseCardFooterContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.courseCardInstructorContainer {
  display: flex;
  align-items: center;
  margin: 0em;
}

.courseCardInstructorImage {
  height: 3em;
  width: 3em;
  margin-right: 0.5em;
  border-radius: 50%;
}

.courseCardInstructorName {
  font-size: 1em;
  margin-bottom: 0px;
}

.courseCardPriceContainer {
  display: flex;
  align-items: center;
  margin: 0em;
}

.courseCardRegularPrice {
  font-size: 0.8em;
  text-decoration: line-through;
  font-style: italic;
  margin-right: 0.5em;
  margin-bottom: 0em;
}

.courseCardDiscountPrice {
  font-size: 0.8em;
  color: #479cf7;
  margin-bottom: 0em;
}

.knowAboutLearningPlatformContainer {
  background-color: #c5def9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em 0em;
  border-radius: 1em;
  padding: 1em 4em;
}

.knowAboutLeftContainer {
  margin-right: 2em;
  margin: auto;
}

.knowAboutImageContainer {
  margin: auto;
}

.instructorsHighlightsHeading {
  font-size: 1.2em;
}

.instructorsHighlightsItems {
  list-style: none; /* Remove default bullets */
  padding: 0;
}

.instructorsHighlightsItems li {
  position: relative; /* Ensure pseudo-element positions relative to list item */
  padding-left: 2em; /* Space for custom bullet */
}

.instructorsHighlightsItems li::before {
  content: ""; /* No text, just a styled element */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); /* Center vertically */
  width: 10px; /* Adjust size of the bullet */
  height: 10px; /* Adjust size of the bullet */
  background-color: rgb(13, 96, 86); /* Color of the bullet */
  border-radius: 50%; /* Make it a circle */
}

.instructorsHighlightsImage {
  width: 80%;
  border-radius: 2em;
}

.startLearningNowButton {
  background-color: #185fbd;
  color: #fff;
  border: none;
  border-radius: 0.4em;
  cursor: pointer;
  padding: 0.5em 1em;
  margin: 1em 0em;
}
.startLearningNowButton:hover {
  background-color: 0074b8;
}

.recommendedCoursesContainer {
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9;
}

.sectionHeading {
  font-size: 24px;
  margin-bottom: 20px;
}

.carouselContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.courseCardLinkContainer {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100%;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  z-index: 2;
  cursor: pointer;
}

.arrow.slick-prev {
  left: -25px;
}

.arrow.slick-next {
  right: -25px;
}

.addNewCourseButtonContainer {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.addNewCourseButton {
  background-color: #185fbd;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  text-align: center;
  outline: none;
}

.addNewCourseButton:hover {
  background-color: #0074b8; /* Darker blue on hover */
}
